.country{
    border:2px solid salmon;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}
.btn{
    padding: 10px;
    background-color: black;
    color: whitesmoke;
    border-radius: 10px;
  
}

.country-visited{
    background-color: burlywood;
}